body {
  margin: 0;
  padding: 0;
}
.cursor-p {
  cursor: pointer;
}
// var
$length: 100;
//margin 例：.mr14
@for $i from 1 through $length {
  .mr#{$i} {
    margin-right: 1px * $i;
  }
  .ml#{$i} {
    margin-left: 1px * $i;
  }
  .mb#{$i} {
    margin-bottom: 1px * $i;
  }
  .mt#{$i} {
    margin-top: 1px * $i;
  }
  .mx#{$i} {
    margin: 0 1px * $i;
  }
  .my#{$i} {
    margin: 1px * $i 0;
  }
  .m#{$i} {
    margin: 1px * $i;
  }

  .pr#{$i} {
    padding-right: 1px * $i;
  }
  .pl#{$i} {
    padding-left: 1px * $i;
  }
  .pb#{$i} {
    padding-bottom: 1px * $i;
  }
  .pt#{$i} {
    padding-top: 1px * $i;
  }
  .px#{$i} {
    padding: 0 1px * $i;
  }
  .py#{$i} {
    padding: 1px * $i 0;
  }
  .p#{$i} {
    padding: 1px * $i;
  }

  .fs#{$i} {
    font-size: 1px * $i;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.flex {
  @include flex;
}
.flex-center {
  @include flex;
  justify-content: center;
}

.flex-between {
  @include flex;
  justify-content: space-between;
}

.grey1 {
  color: #333;
}

.bg {
  background-color: #f7f7f7;
  height: 100vh;
}

.discuss-input-view {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  @include flex;
  border-top: 1px solid #eee;
  background-color: #fff;
  padding: 10px;
  .discuss-input {
    margin-right: 5vw;
    width: 75vw;
    border: 1px solid rgb(241, 158, 230);
    border-radius: 30px;
  }
  .discuss-button {
    width: calc(20vw - 20px);
  }
}
.discuss-cell {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  .user-avatar {
    width: 40px;
    img {
      border-radius: 50%;
    }
  }
  .discuss-title {
    width: calc(100vw - 80px);
    @include flex;
    justify-content: space-between;
    margin: 0 10px;
    .user-name {
      color: #ff009d;
      font-size: 13px;
    }
    .discuss-floor {
      margin-right: 5px;
      color: #9c9b9b;
      font-size: 13px;
    }
  }
  .discuss-time {
    margin: 0 10px;
    font-size: 12px;
    color: #9c9b9b;
  }
  .discuss-text {
    margin: 10px 10px 0;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    word-break: break-all;
  }
  .signal {
    margin: 5px 10px 0;
    font-size: 16px;
    color: #9c9b9b;
  }
  .signal-fill {
    margin: 5px 10px 0;
    font-size: 16px;
    color: #ff0000;
  }
  .signal-count {
    min-width: 10px;
    display: inline-block;
    font-size: 14px;
    color: rgb(71, 70, 70);
    text-align: center;
  }
  .expand-btn {
    margin: 5px 10px 0;
    color: rgb(71, 70, 70);
    font-size: 14px;
  }
  .discuss-bottom {
    margin-top: 10px;
    margin-bottom: 1px;
    @include flex;
    justify-content: space-between;
    .reply-btn {
      margin-right: 15px;
      font-size: 14px;
      color: rgb(71, 70, 70);
    }
  }
}
.text-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
